/.venv
*.json
*.pdf
.env
/qdrant_storage
__pycache__/
**/__pycache__/
*.py[cod]
**/node_modules/
!benchmarking/**/*.pdf
!frontend/**/*.json
/services/ingesting.py
/services/chunking.py
/services/services_raptor.py
/services/services_graph.py